@charset "UTF-8";
.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

/* 전역의 .dark에 반응 */
:global(.dark) .intro::before {
  background-color: rgba(0, 0, 0, 0.6);
}