.menus {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2.5rem;
    .menu {
        + .menu {
            margin-left: 1.25rem;
        }
    }
}

.ticker {
    &:hover {
        span {
            transform: scale(1.1);
        }
    }
}
