main {
    position: relative;
    z-index: 2;
    background-color: $white-color;
    $area: 20px;
    .tit {
        padding: $area 0;
        font-size: $tit;
        font-weight: bold;
        margin-bottom: $area;
    }
    .sub_tit {
        font-size: $sub-tit;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .btn {
        padding: 15px $area * 2;
        margin: $area auto;
        font-weight: 500;
        color: $black-color;
        border: 1px solid $point-color;
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -100%;
            width: 100%;
            height: 100%;
            transition: all 0.3s;
            z-index: -1;
        }
        &:hover {
            color: #fff;
            &::before {
                bottom: 0;
                background-color: $point-color;
            }
        }
    }
    .section {
        width: 100%;
        &:not(.section_intro) {
            padding: 200px 0;
        }
        // intro
        &_intro {
            height: 100vh;
            .inner {
                height: 100%;
                display: flex;
                align-items: center;
                .wrap_info {
                    display: flex;
                    align-items: flex-end;
                    > div {
                        width: 100%;
                        &.wrap_img {
                            text-align: center;
                            img {
                                width: 75%;
                            }
                        }
                    }
                }
            }
        }
        // about
        &_about {
            background-color: $black-color-02;
            color: $white-color;
            .inner {
                .wrap_about {
                    padding: 0 $area;
                    .wrap_box {
                        display: flex;
                        justify-content: space-between;
                        .box {
                            width: calc((100% - #{$area}) / 2);
                            padding: 40px 0;
                            background: rgba(255, 255, 255, 0.02);
                            // box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
                            position: relative;
                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 10%;
                                height: 10%;
                                background: rgba(45, 68, 37, 0.5);
                            }
                            ul {
                                text-align: center;
                                li {
                                    line-height: 40px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }
        // work
        &_work {
            .inner {
                .wrap_work {
                    .wrap_list {
                        counter-reset: li;
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        .list {
                            width: calc((100% - (#{$area} * 2)) / 3);
                            padding: $area * 2;
                            // height: fit-content;
                            box-sizing: border-box;
                            background: #fafafa;
                            position: relative;
                            margin: 0 $area $area 0;
                            &:nth-of-type(3n + 3) {
                                margin-right: 0;
                            }
                            &:nth-of-type(-n + 9) {
                                &::before {
                                    content: "0" counter(li) "";
                                }
                            }
                            &:nth-of-type(n + 10) {
                                &::before {
                                    content: "" counter(li) "";
                                }
                            }
                            &::before {
                                position: absolute;
                                left: 0;
                                top: 0;
                                counter-increment: li;
                                font-size: 50px;
                                font-weight: bold;
                                left: 5%;
                                color: $gray-light-color;
                            }
                            .sub_tit {
                                position: relative;
                            }
                            .desc {
                                color: $black-color;
                                padding: $area;
                                margin-bottom: 10px;
                                .per {
                                    font-weight: bold;
                                    font-size: 20px;
                                    color: $point-color;
                                }
                            }
                            .date {
                                text-align: right;
                                font-size: 14px;
                            }
                            .wrap_link {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: flex-end;
                            }
                            .link_btn {
                                width: fit-content;
                                margin-left: auto;
                                margin-top: $area;
                                box-sizing: border-box;
                                position: relative;
                                z-index: 1;
                                text-align: center;
                                padding: 10px $area;

                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                .wrap_arrow {
                                    width: 20px;
                                    filter: invert(0%) sepia(0%) saturate(105%) hue-rotate(197deg) brightness(78%) contrast(87%);
                                    top: -0.2rem;
                                }
                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 0;
                                    height: 100%;
                                    background-color: $gray-light-color;
                                    z-index: -1;
                                    transition: width 0.5s;
                                }

                                &.no_link {
                                    pointer-events: none;
                                    &::before {
                                        display: none;
                                        padding-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//pc hover
@media screen and (min-width: 1480px) {
    main {
        .section {
            // about
            &_about {
                .inner {
                    .wrap_about {
                        .wrap_box {
                            .box {
                                &:hover {
                                    &::before {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // work
            &_work {
                .inner {
                    .wrap_work {
                        .wrap_list {
                            .list {
                                &:hover {
                                    .sub_tit {
                                        padding-left: 10px;
                                    }
                                    .link_btn {
                                        color: $black-color !important;
                                        margin-right: 10px !important;
                                        .wrap_arrow {
                                            .arrow {
                                                transform: translate3d(0, 0, 0);
                                            }
                                        }
                                        // &:hover {
                                        //     transform: scale(1.05);
                                        // }
                                        &::before {
                                            width: 100%;
                                        }

                                        &.no_link {
                                            margin-right: 0;
                                            &::before {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
