.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 2.5rem;
}

.menus .menu + .menu {
  margin-left: 1.25rem;
}

.ticker:hover span {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
