@charset "UTF-8";

$inner: 1440px;
$inner-space: 20px;
$url-images: "/static/images/";
$black-color: #111;
$point-color: #2d4425;
$white-color: #fff;
$gray-color: #fafafa;

$tit: 28px;
$sub-tit: 22px;
