@charset "UTF-8";

$inner: 1440px;
$inner-space: 20px;
$url-images: "/static/images/";
$black-color: #111;
$black-color-02: #222;
$point-color: #2d4425;
$white-color: #fff;
$gray-color: #fafafa;
$gray-light-color: #eee;
